#site_wrap{
    display: grid;
    grid-template-columns:  
        1fr 
        repeat(3,minmax(0,600px))
        1fr;
    grid-template-rows:
        max-content
        70px
        repeat(10,max-content);
    grid-template-areas:
        "header1 header1 header1 header1 header1"
        "header2 header2 header2 header2 header2"
        ". portraitsTitle portraitsTitle portraitsTitle ."
        ". portraits portraits portraits ."
        ". animalsTitle animalsTitle animalsTitle ."
        ". animals animals animals ."
        "landscapeTitle landscapeTitle landscapeTitle landscapeTitle landscapeTitle"
        ". landscape landscape landscape ."
        "ilustrationsTitle ilustrationsTitle ilustrationsTitle ilustrationsTitle ilustrationsTitle"
        ". ilustrations ilustrations ilustrations ."
        "objectsTitle objectsTitle objectsTitle objectsTitle objectsTitle"
        ". objects objects objects ."
        "shopButton shopButton shopButton shopButton shopButton";
}

.portraitsTitle{
    grid-area: portraitsTitle;
}

.portraits{
    grid-area: portraits;
}

.animalsTitle{
    grid-area: animalsTitle;
}

.animals{
    grid-area: animals;
}

.landscape{
    grid-area: landscape;
}

.landscapeTitle{
    grid-area: landscapeTitle;
}

.ilustrations{
    grid-area: ilustrations;
}

.ilustrationsTitle{
    grid-area: ilustrationsTitle;
}

.objectsTitle{
    grid-area: objectsTitle;
}

.objects{
    grid-area: objects;
}

.portraitsTitle h1, .animalsTitle h1, .landscapeTitle h1, .ilustrationsTitle h1, .objectsTitle h1{
    letter-spacing: 0.5rem;
    text-align: center;
    margin: 2% auto auto auto;
}

.portraits, .animals, .landscape, .ilustrations, .objects{
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 320px));
    row-gap: 0.5rem;
    place-self: center;
}

.grid-item{
    display: flex;
}

.grid-item img{
    width: 80%;
    display: block;
    margin: auto;
    align-self: center;
}

.tall{
    grid-row: span 2;
    display: block;
    margin: auto;
    align-self: center;
}

.wide{
    grid-column: span 2;
    justify-content: center;
}

.wide img{
    width: 90%;
}

img.wideImg2{
    position: relative;
    top: 8%;
    width: 80%;
}

.grid-item p, p.shopButtonText{
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    place-self: center;
    margin: auto 2%;
}

p.text {
    margin: auto;
}

.shopButton{
    grid-area: shopButton;
    display: grid;
    place-self: center;
    margin: 1rem auto;
}

p.shopButtonText{
    margin: 1% auto;
}

.shopButton a{
    font-size: 1.1rem;
    font-weight: bold;
    border: 3px solid #DD6761;
    border-radius: 50em;
    color: #DD6761;
    background-color: #80A66C;
    padding: 0.3rem 1rem;
    width: min-content;
    position: relative;
    display: grid;
    margin: auto;
    margin: 0.5rem auto 0.8rem auto;
}

.shopButton a:hover{
    background-color: #DD6761;
    color: #80A66C;
    border: 3px solid #80A66C;
}

@media screen and (max-width:965px){
    p.text{
        font-size: 1.3rem;
    }
}

@media screen and (max-width:850px) {
    #site_wrap{
        grid-template-rows:
            max-content
            60px
            repeat(10,max-content);
    }

    .grid-item p, p.shopButtonText{
        font-size: 1.2rem;       
    } 

    .grid-item p.text{
        font-size: 1rem;
    }

    .portraitsTitle h1, .animalsTitle h1, .landscapeTitle h1, .ilustrationsTitle h1, .objectsTitle h1{
        font-size: 1.8rem;
    }
}

@media screen and (max-width:760px) {
    #site_wrap{
        grid-template-rows: 
            max-content
            55px
            repeat(10,max-content);
    }

    .grid-item p, p.shopButtonText{
        font-size: 1rem;       
    }

    .grid-item p.text{
        font-size: 0.9rem;
    }

    .portraitsTitle h1, .animalsTitle h1, .landscapeTitle h1, .ilustrationsTitle h1, .objectsTitle h1{
        font-size: 1.6rem;
    }

    .shopButton a{
        font-size: 1rem;
        padding: 0.3rem 0.8rem;    
    }
}

@media screen and (max-width:600px) {
    #site_wrap{ 
        grid-template-rows: 
            max-content
            40px
            repeat(10,max-content);
    }

    .grid-item p{
        font-size: 0.7rem; 
        margin: auto;      
    }    

    p.shopButtonText{
        font-size: 0.8rem;       
    }

    .grid-item p.text{
        font-size: 0.6rem;
    }

    .portraitsTitle h1, .animalsTitle h1, .landscapeTitle h1, .ilustrationsTitle h1, .objectsTitle h1{
        font-size: 1.3rem;
    }

    .shopButton a{
        font-size: 0.75rem;
        padding: 0.2rem 0.6rem;    
    }
}

@media screen and (max-width:430px) {
    .portraitsTitle h1, .animalsTitle h1, .landscapeTitle h1, .ilustrationsTitle h1, .objectsTitle h1{
        font-size: 1.1rem;
        letter-spacing: 0.3rem;
    }

    .grid-item p.text, .grid-item p{
        font-size: 0.55rem;
    }

    p.shopButtonText{
        font-size: 0.65rem;
    }

    .shopButton a{
        font-size: 0.68rem;
        padding: 0.18rem 0.65rem;  
        border: 2px solid;  
    }
}

@media screen and (max-width:330px) {   
    #site_wrap{ 
        grid-template-rows: 
            max-content
            35px
            max-content;      
    }

    .portraitsTitle h1, .animalsTitle h1, .landscapeTitle h1, .ilustrationsTitle h1, .objectsTitle h1{
        font-size: 0.9rem;
    }

    .grid-item p.text, .grid-item p{
        font-size: 0.5rem;
    }

    p.shopButtonText{
        font-size: 0.55rem;
    }

    .shopButton a{
        font-size: 0.55rem;
        padding: 0.15rem 0.45rem;  
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width:280px) {   
    #site_wrap{ 
        grid-template-rows: 
            max-content
            30px
            max-content;      
    }

    .portraitsTitle h1, .animalsTitle h1, .landscapeTitle h1, .ilustrationsTitle h1, .objectsTitle h1{
        font-size: 0.7rem;
        letter-spacing: 0.2rem;
    }

    .grid-item p.text{
        font-size: 0.3rem;
    }

    .grid-item p{
        font-size: 0.42rem;
    }

    p.shopButtonText{
        font-size: 0.52rem;
    }

    .shopButton a{
        font-size: 0.46rem;
        padding: 0.15rem 0.45rem;  
        margin-bottom: 0.3rem
    }
}
